a.btn {
    display: inline-block;
}

a.btn:hover {
    color: #FFF;
}

.btn.success {
    background-color: #04AA6D;
}

.btn.success:hover {
    background-color: #059862;
}

button:disabled {
    cursor: not-allowed;
}