.trytopnav {
    min-width: 380px;
    width: 100%;
    background-color: #E7E9EB;
}

.topnav-icons {
    margin-right: 8px;
}

.trytopnav a,
.trytopnav button {
    color: #999999;
}

.fa {
    padding: 10px 10px !important;
    display: inline-block;
    font: normal normal normal 14px/1 fontawesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

a.fa {
    background-color: transparent;
}

.w3-bar .w3-bar-item:hover {
    color: #757575 !important;
}

a.w3schoolslink {
    padding: 0 !important;
    display: inline !important;
}

a.w3schoolslink:hover,
a.w3schoolslink:active {
    text-decoration: underline !important;
    background-color: transparent !important;
}

#runbtn {
    background-color: #04AA6D;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding: 6px 25px;
    margin-top: 4px;
    border-radius: 5px;
    word-spacing: 10px;
}

#runbtn:hover {
    background-color: #059862 !important;
    color: white !important;
}

#getwebsitebtn {
    background-color: #04AA6D;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 18px;
    padding: 6px 15px;
    margin-top: 4px;
    margin-right: 10px;
    display: block;
    float: right;
    border-radius: 5px;
}

#getwebsitebtn:hover {
    background-color: #059862 !important;
    color: white !important;
}